:root {
  --text-color: #000000;
  --background-color: #fff;
}
 
/* ダークモード用のスタイル */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #000000;
  }
}
 
/* スタイルの適用 */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  text-align: center;
  font-family: 'UD デジタル 教科書体 N-B', serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

.content {
  flex: 1;
  padding-bottom: 150px; 
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  font-family: 'UD デジタル 教科書体 N-B', serif;
  font-size: 2rem; 
  color: var(--text-color);
  background-color: var(--background-color);
}

.menu-btn, .menu-icon, .menu {
  display: none;
}

.main {
  margin-top: 100px;
}

/* Navbar & Navmenu color */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 200px; 
  height: 100vh; 
  margin-top: 100px;
  position: fixed; 
  left: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

.sidebar ul {
  list-style: none; 
  padding: 20px; 
}

.sidebar ul li {
  margin: 10px 0; 
  border-bottom: 1px solid #000;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px; 
  display: block; 
  border-radius: 5px; 
}

.sidebar ul li a:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}

.content {
  margin-left: 220px; 
  margin-top: 100px;
}

.concertPhoto {
  margin: 0;
}

.fancyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; 
}

/* ボタンの基本デザイン */
.fancy {
  width: 300px; 
  height: 80px; 
  background-color: transparent;
  border: 2px solid var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  position: relative;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

/* ボタン内のテキストデザイン */
.fancy .text {
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.3s ease-in-out;
  color: var(--text-color);
}

/* ボタン内の装飾要素 */
.fancy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 20px;
  height: 2px;
  background: var(--text-color);
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

/* トップラインのデザイン */
.fancy .top-key {
  position: absolute;
  height: 2px;
  width: 50px;
  top: -5px;
  left: 10%;
  background: var(--text-color);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* ボトムライン1 */
.fancy .bottom-key-1 {
  position: absolute;
  height: 2px;
  width: 50px;
  bottom: -5px;
  right: 10%;
  background: var(--text-color);
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}

/* ボトムライン2 */
.fancy .bottom-key-2 {
  position: absolute;
  height: 2px;
  width: 20px;
  bottom: -5px;
  right: 5%;
  background: var(--text-color);
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}

/* ホバー時のデザイン変更 */
.fancy:hover {
  background: var(--text-color);
  color: var(--background-color);
}

.fancy:hover::before {
  width: 10px;
  background: var(--background-color);
  left: 5%;
}

.fancy:hover .text {
  color: var(--background-color);
  letter-spacing: 0.15em; 
}

.fancy:hover .top-key {
  left: 0;
  width: 0;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/*sns card*/
.sns_card {
  width: 100vw;
  height: fit-content;
  /*background-color: var(--background-color);*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 20px;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 10;
}

/* for all social containers */
.socialContainer {
  width: 40px;
  height: 50px;
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1.2s;
  border-radius: 15px 0 15px 0px;
}

/* instagram */
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 1.2s;
}

/* twitter */
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 1.2s;
}

/* Whatsapp */
.containerFour:hover {
  background-color: #f90101;
  transition-duration: 1.2s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 1.2s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: var(--background-color);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 1.2s both;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  background: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--text-color);
}

.event {
  display: flex; 
  align-items: flex-start; 
  margin-bottom: 20px; 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.event-poster img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.event_description {
  text-align: left;
  margin-left: 20px;
}

h2 {
  margin: 20px 0 10px;
  font-size: 1.8em;
}

h3 {
  margin: 15px 0;
  font-size: 1.5em;
}

p {
  margin: 10px 0;
}

footer {
  color: var(--text-color);
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.schedule_card {
  width: 100%;
  max-width: 450px; 
  height: 150px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px -6px #6f6f6f;
  margin: 40px auto; 
}

.schedule_card img {
  max-width: 100%;
  height: auto;
  display: block;
}

.schedule_title {
  font-size: 20px;
  text-align: left;
  position: relative;
  top: -20px;
}

.schedule_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 20px; 
  background-color: var(--background-color);
  border-top-left-radius: 30px; 
  transform: translateY(75px);
}

.schedule_content::before {
  opacity: 1;
  content: '';
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 30px;
  background-color: transparent;
  box-shadow: 60px 60px var(--background-color);
  top: -72%;
  right: -10%;
}

.schedule_description {
  opacity: 0;
  transition: opacity .5s;
  position: relative;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
}

.schedule_description p {
  padding: 0;
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 10px;
  transform: translateY(-40%);
}

.schedule_card:hover .schedule_content {
  transform: translateY(0);
  opacity: 1;
}

.schedule_card:hover .schedule_description {
  display: block;
  opacity: 1;
}

/* チェックボックスを非表示にする */
#scheduleCheck {
  display: none;
}

/* チェックボックス用ラベルをボタンに */
label[for="scheduleCheck"] {
  cursor: pointer;
}

/* 初期状態の .schedule_card */
.schedule_card .schedule_content {
  transform: translateY(75px);
  opacity: 1;
  transition: all .25s ease-in-out;
}

/* チェックされた時だけ transform & opacity を変更 */
#scheduleCheck:checked ~ .schedule_card .schedule_content {
  transform: translateY(0);
  opacity: 1;
}

/*link*/
.two-column-list {
  list-style-type: none; 
  display: flex;
  flex-wrap: wrap; 
  padding: 0;
  margin: 0;
}

.two-column-list li {
  width: 50%; 
  box-sizing: border-box; 
  padding: 5px; 
  color: var(--text-color);
}

.link_color {
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
/*humberger menu */
.menu {
  display: block !important;
  list-style: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-top: 52px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--text-color);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menu text */
.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--background-color);
  opacity: 0;
  transition: 0.5s;
}

.menu li {
  border-top: 1px solid rgb(0, 0, 0);
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 24px 10px;
  -webkit-tap-highlight-color: var(--text-color);
  z-index: 20;
}

.navicon {
  background: var(--text-color);
  display: block;
  height: 3px;
  width: 100%;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--text-color);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Text */
.navtext {
  position: absolute;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 4px;
  font-size: 20px;
}

  .title {
    font-size: 1.5rem;
  }

  .hamburger {
    height: 50px;
    width: 50px;
  }

  .sidebar {
    display: none;
  }

  .content {
    margin-left: 0px;
    margin-top: 100px;
  }

  .concertPhoto {
    margin-top: 130px;
  }

  .fancy {
    width: 80%; 
    height: 50px;
    font-size: 1.2rem;
  }

  .fancy::before {
    left: 5px;
    width: 15px;
  }

  /* チェックボックス用ラベルをボタンに */
  label[for="scheduleCheck"] {
    cursor: pointer;
  }

  /* 初期状態の .schedule_card */
  .schedule_card .schedule_content {
    transform: translateY(75px);
    opacity: 1;
    transition: all 0.25s ease-in-out;
  }

  /* チェックされた時だけ transform & opacity を変更 */
  #scheduleCheck:checked ~ .schedule_card .schedule_content {
    transform: translateY(0);
    opacity: 1;
  }

  footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    display: block; 
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* レスポンシブ対応 */
@media screen and (max-width: 480px) {
  #icon {
    width: 15vw;
    height: 15vw;
  }

  .title {
    font-size: 1.2rem;
  }

  .fancy {
    width: 60vw;
    font-size: 1.2rem;
    margin: 10px 0;
  }

  .fancyContainer {
    height: auto;
    flex-direction: column;
  }
}